<!DOCTYPE html>
<html lang="en">

<%- include('./partial/head.ejs')%>

	<body>
		<%- include('./partial/header.ejs')%>
			<main>
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="row contactMainRow mt-4">
								<div class="col-6 myContact d-flex flex-column justify-content-center align-items-center">
									<h2>СВЯЗАТЬСЯ СО МНОЙ</h2>
									<h3>glak.gevorgyan.g@tumo.org</h3>
									<h3>094-10-20-botaz</h3>
									<div class="contactIcons d-flex gap-2">
										<div class="icon btn btn-link p-0">
											<img src="/images/icons/instagram.png" alt="instagram icon" width="35">
										</div>
										<div class="icon btn btn-link p-0">
											<img src="/images/icons/facebook.png" alt="facebook icon" width="35">
										</div>
										<div class="icon btn btn-link p-0">
											<img src="/images/icons/twitter.png" alt="twitter icon" width="35">
										</div>
									</div>
								</div>
								<div class="col-6 contactImage"></div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<%- include('./partial/footer.ejs')%>
	</body>

</html>