<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
</head>

<body>
  <div class="wrapper p-0 m-0"
    style="height: 96dvh; font-size: 5rem; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <span><b>404</b></span>
    <span>page not found</span>
  </div>
</body>

</html>