<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs')%>

	<body>
		<%- include('./partial/header.ejs')%>
			<main>
				<div class="container-fluid">
					<div class="row">
						<div class="col-4"></div>
						<div class="col-4 homeText">
							<h1 class="textGlavn">Книжный блог</h1>
							<h2 class="textGlavn">Именно то что вы ищете</h2>
						</div>
						<div class="col-4"></div>
					</div>
					<div class="row mt-5 pt-5">
						<div class="col-12">
							<div class="mainColImage"></div>
						</div>
					</div>
				</div>
			</main>
			<%- include('./partial/footer.ejs')%>
	</body>

</html>