<header id="header" class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <hr class="headerLine" color="#A0138E" noshade>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center position-relative">
        <img class="logoHeader" src="/images/BookLogo.png" alt="Book">
        <div class="searchBlock d-flex justify-content-center align-items-center position-absolute translate-middle">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="What are you looking for?"
              aria-label="What are you looking for?" aria-describedby="button-addon2">
            <button class="btn btn-link searchBtn d-flex justify-content-center align-items-center" type="button"
              id="button-addon2">
              <img src="/images/search-icon.png" alt="search" width="20" height="20">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div>
    </div>
    <div class="row mt-3">
      <div class=" col-4"></div>
      <div class="col-4">
        <ul class="menu d-flex justify-content-around align-items-center m-0 p-0">
          <li>
            <a href="/">
              Главная
            </a>
          </li>
          <li>
            <a href="/contacts">
              Контакты
            </a>
          </li>
          <li>
            <a href="/info">
              О нас
            </a>
          </li>
          <li>
            <a href="/blog">
              Блог
            </a>
          </li>
        </ul>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</header>