<div class="regHeader d-flex justify-content-between align-items-center">
  <a href="/blog" class="text-decoration-none regHeaderLink">
    <h4><strong>All Posts</strong></h4>
  </a>
  <% if(true){ %>
    <a href="/writePost" class="text-decoration-none">
      <button class="addPostBtn position-relative d-flex align-items-center justify-content-center" type="button">
        <div class="noselect d-flex align-items-center justify-content-center">
          <img src="/images/icons/writeIcon.png" alt="add post" width="25" height="25" class="me-3">
          <h3 class="m-0">Написать пост</h3>
        </div>
      </button>
    </a>

    <% } else{ %>
      <button class="regBtn d-flex align-items-center justify-content-center" type="button"
        onclick="() => {document.location='/registration'}">
        <h3 class="m-0"><strong>Зарегистрироваться</strong></h3>
      </button>
      <% } %>
</div>